<h1>Editar peli</h1>
<form method="get" action="/save">
	<p>
	   Titulo: <input type="text" name="title" value="{{this.title}}">
	</p>
	<p>
	   Imagen: <input type="text" name="img" value="{{this.img}}">
	</p>
	<p>
	   Año: <input type="text" name="date" value="{{this.date}}">
	</p>
	<p>
	  <input type="submit" value="Guardar" />
	</p>
</form>