<div>
    <form>
        Nombre: <input type="text" value="" /> <br />
        Apellido: <input type="text" value="" /> <br />
        E-Mail: <input type="text" value="" /> <br />

    </form>
</div>